.contact-us {
    // text-align: center;
    padding: 40px;
    margin-bottom: 30px;

    h2 {
        font-family: "Roboto", sans-serif;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 28px;
        margin: 20px 0px;
    }

    .thank-you-message {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .contact-form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        max-width: 600px;

        label {
            margin-bottom: 5px;
            margin-left: 5px;
            font-size: 15px;
            letter-spacing: 0.5px;
            font-family: "Roboto", sans-serif;
        }

        input,
        textarea {
            margin-bottom: 15px;
            padding: 12px 10px;
            border: 1px solid $borderGray;
            border-radius: 8px;
            font-family: Arial, serif;
            letter-spacing: 0.5px;

            &:focus {
                outline: none;
                border: 0.2px solid $orange;
            }
        }

        textarea {
            resize: vertical;
            min-height: 100px;
        }

        button {
            color: white;
            width: 185px;
            height: 39px;
            border: none;
            font-size: 18px;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 10%;
            color: $white;
            cursor: pointer;
            background: linear-gradient(264.91deg, #f47726 2.91%, #ffb483 98.68%);
            box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.18);
            border-radius: 100px;
        }
    }
}