.occasion-container {
    margin: 50px 0px 60px 40px;

    h2 {
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        font-size: 26px;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .inputbox {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                margin-bottom: 5px;
                margin-left: 5px;
                font-size: 15px;
                letter-spacing: 0.5px;
                font-family: "Roboto", sans-serif;
            }

            input,
            textarea {
                width: 30%;
                margin-bottom: 15px;
                padding: 10px 10px;
                border: 1px solid $borderGray;
                border-radius: 8px;
                font-family: Arial, serif;
                letter-spacing: 0.5px;

                &:focus {
                    outline: none;
                    border: 0.2px solid $orange;
                }
            }

            textarea {
                resize: vertical;
                min-height: 100px;
            }

        }

        button {
            color: white;
            width: 185px;
            height: 39px;
            border: none;
            font-size: 18px;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 10%;
            color: $white;
            cursor: pointer;
            background: linear-gradient(264.91deg, #f47726 2.91%, #ffb483 98.68%);
            box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.18);
            border-radius: 100px;
        }
    }
}