// Le CSS de la page listant les catégories de produits
.product_categories {
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: $darkGray;

  .header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    margin: 30px 100px;

    .top {
      text-transform: uppercase;
    }

    h2 {
      // font-family: "Russo One", Arial, sans-serif;
      font-family: "Berkshire Swash", cursive;
      font-size: 48px;
      font-weight: 700;
    }

    .bottom {
      margin: 10px 30px;
      padding: 0 5vw;
      line-height: 25px;
      font-family: "Roboto", sans-serif;
    }
  }

  .main {
    margin: 30px 120px;
    display: flex;
    flex-wrap: wrap;

    .card {
      width: 24%;

      &_header {
        width: 100%;
      }

      &_img {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    // gap: 60px;

    //   .card {
    //     color: $darkGray !important;
    //     cursor: pointer;
    //     // flex: 1 1 160px;
    //     // max-width: 304px;

    //     width: 32%;

    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     background: $white;
    //     // box-shadow: 0px 24px 28px rgba(0, 0, 0, 0.15);
    //     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    //     border-radius: 10px;

    //     transition: all ease-in-out 0.3s;

    //     &:hover {
    //       transform: scale(1.05);
    //       // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    //     }

    //     .card_header {
    //       display: flex;
    //       flex-direction: column;
    //       gap: 15px;
    //       letter-spacing: 1px;
    //       font-size: 16px;
    //       margin: 30px 0px;
    //       padding: 5px 15px;

    //       h2 {
    //         // font-family: "Russo One", Arial, sans-serif;
    //         font-family: "Berkshire Swash", cursive;
    //         font-size: 30px;
    //         // font-weight: 700;
    //         letter-spacing: 2px;
    //       }

    //       p {
    //         line-height: 25px;
    //       }

    //       button {
    //         margin-top: 10px;
    //         margin-bottom: -20px;
    //         cursor: pointer;
    //         width: 180px;
    //         height: 40px;
    //         border: 2px solid $darkGray;
    //         border-radius: 100px;
    //         background-color: transparent;
    //         font-weight: 600;
    //         font-size: 15px;
    //         letter-spacing: 1px;

    //         .card_btn {
    //           color: $darkGray !important;
    //         }
    //       }
    //     }

    //     .card_img {
    //       width: 100%;
    //       height: auto;
    //       display: flex;
    //       justify-content: center;
    //       border-bottom-left-radius: 10px;
    //       border-bottom-right-radius: 10px;

    //       img {
    //         display: block;
    //         border-bottom-left-radius: 10px;
    //         border-bottom-right-radius: 10px;
    //       }
    //     }
    //   }
  }
}
