// Le CSS Page du détail d'un produit
.productPage {
  padding: 40px 45px;
  letter-spacing: 1px;
  color: $darkGray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
