// Le CSS Footer
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Russo+One&display=swap');

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7vh;
    margin-bottom: 20px;
    font-family: 'Quicksand';
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.newsletter h2 {
    letter-spacing: 0.5px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 2.5em;
}

.newsletter p {
    font-family: "Roboto", sans-serif;
    text-align: center;

    span {
        font-size: 14px;
    }
}

.newsletter form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.newsletter input {
    width: 50%;
    border-radius: 10px;
    border: 1px solid $borderGray;
    padding: 5px 10px;
    transition: 0.2s ease;

    &:focus {
        outline: none;
        border: 0.2px solid $orange;
    }
}


.newsletter button {
    color: white;
    width: 185px;
    height: 39px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 10%;
    color: $white;
    cursor: pointer;
    background: linear-gradient(264.91deg, #f47726 2.91%, #ffb483 98.68%);
    box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.18);
    border-radius: 100px;
}

.footer .top {
    width: 95%;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 20px;

    .logo {
        padding-bottom: 20px;

        .logo-navlink {
            color: $darkGray !important;
            font-family: "Berkshire Swash", cursive;
            font-size: 34px;
            font-weight: 5700;
            letter-spacing: 2px;
        }
    }

}

.footer .links {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.footer .links a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: black;
    transition: 0.2s ease;
}

.links a:hover {
    color: $orange;
}

.footer .bottom {
    width: 95%;
    border-top: solid;
    border-width: 1px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-family: 'Quicksand';
    font-weight: 300;
    font-size: 1rem;
    color: black;
}

.medias {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    gap: 15px;

}

.medias img {
    width: 4vw;
}

.policies {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.policies a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(63, 63, 63);
    font-family: 'Quicksand';
    font-weight: 400;
}

.policies a:hover {
    text-decoration: underline;
}

@media screen and (max-width:600px) {
    .footer .links {
        display: none;
    }

    .footer .bottom {
        flex-direction: column;
        gap: 20px;
    }

    .medias {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    .medias img {
        width: 10vw;
    }

    .policies {
        width: 100%;
        justify-content: space-between;
    }
}