.homepage_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $beige;
  height: 70vh;
  padding: 0 10vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  .top_left {
    // background-color: rgba(0, 255, 255, 0.223);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    .ellipse {
      background-color: $lightGray;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      align-self: flex-start;
    }

    h1 {
      font-family: "Berkshire Swash", cursive;
      font-size: 56px;
    }

    p {
      font-size: 18px;
      font-family: "Roboto", sans-serif;
    }

    button {
      a {
        color: white;
      }
      width: 185px;
      height: 59px;
      border: none;
      font-size: 18px;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 10%;
      color: $white;
      cursor: pointer;
      background: linear-gradient(264.91deg, #f47726 2.91%, #ffb483 98.68%);
      box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.18);
      border-radius: 100px;
    }
  }

  .top_right {
    // background-color: rgba(0, 255, 255, 0.12);
    width: 50%;
    display: flex;
    // justify-content: center;
    justify-content: end;

    img {
      height: 70vh;
      width: 30vw;
      cursor: pointer;
      object-fit: cover;
      object-position: 50% 0%;
    }
  }
}
